nav {
  background-color: lightblue;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
  left: 0%;
  padding: 10px 20px;
  color: #fff;
}

#sidebar {
  position: fixed;
  right:0%;
  background-color: rgb(204, 71, 101);
  height: 100%;
  width: 20%;
  list-style-type: none;
  text-align: center;
  padding: 15px 0;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
